---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
PointerAlignment: Left
AlignTrailingComments: true
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
IncludeBlocks: Preserve
SortIncludes: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
...
